.watch {
  /* border: 1px solid lightgray; */
  margin-right: 30px;
}

.watch__image {
  width: 160px;
  padding-left: 3px;
  /* display: inline-block; */
}

.watch__header {
  padding: 4px;
  display: flex;
  /* justify-content: space-between; */
}

.watch__avatar {
  /* border-radius: 50%; */
  /* height: .5rem; */
  size: 2;
  
}

.watch__comment__input[type=text] {
  padding-left: 3px;
  font-size: .6rem;
  width: 70%;
  /* padding: 12px 20px; */
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}
input[type=text]:focus {
  background-color: lightblue;
}

.watch__username {
  font-size: 1rem;
  margin-top: .4rem;
  width: 50%;
}

.watch_watchname {
  font-size: 1rem;
}

.watch__watchname {
  padding-left: 3px;
  font-size: 1rem;
}

.watch__watchinfo {
  padding-left: 3px;
  font-size: .6rem;
  max-width: 8rem;

}

.watch__comments {
  padding-left: 3px;
  font-size: .6rem;
}
.watch__comments_title {
  padding-left: 3px;
  font-size: .7rem;
}

