* { 
  margin: 0;
}

.app {
  background-color: floralwhite;
  height: 100vh;
}

.app_Header {
  background-color: whitesmoke;
  padding: 20px;
  border-bottom: 1px solid black;;
  object-fit: contain;
}

.post__component {
  padding: 14px
}